{% extends 'base.html' %}

{% block title %}
    <title>GDU - Comisiones</title> 
{% endblock title %}

{% block content %}

    <!-- Buscador -->
    <div class="columns">
        <div class="column is-offset-8">
          <div class="field has-addons">
            <div class="control has-icons-left">
              <input class="input" type="text" placeholder="Comision">
              <span class="icon is-small is-left">
                <i class="fas fa-users"></i>
              </span>
            </div>
            <div class="control">
              <a class="button is-info">
                Buscar Comision.
              </a>
            </div>
          </div>
        </div>
      </div>

      <!-- Tabla -->
      <div class="box">

        <div class="columns is-centered">
          <div class="column is-narrow">
            <h1 class="title is-5 hero-text">Listado de comisiones</h1>
          </div>
        </div>

        <div class="table-container">
          <table class="table is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Posicion">#</abbr></th>
                <th><abbr title="Presidente">Presidente</abbr></th>
                <th><abbr title="Secretario">Secretario</abbr></th>
                <th><abbr title="Profesor Guia">Profesor Guia</abbr></th>
                <th><abbr title="Vocal Feu">Vocal Feu</abbr></th>
                <th><abbr title="Otros">Otros</abbr></th>
                <th><abbr title="Denuncias">Denuncias</abbr></th>
                <th><abbr title="Conteo de vida util de la denuncia">Conteo</abbr></th>
              </tr>
            </thead>
        
            <tbody>
              {% comment %} Falta agregar las pk a los modificar-eliminar {% endcomment %}
              
              {% if hay_comisiones %}
                <div class="columns is-centered">
                  <column class="is-narrow">
                    <p class="hero-text mt-5">Por el momento no hay comisiones para mostrar.</p>
                  </column>
                </div>
              {% endif %}
              {% for comision in comisiones %}
              <tr>
                <th><a href="#">{{forloop.counter}}</a></th>
                <td>{{comision.presidente}}</td>
                <td>{{comision.secretario}}</td>
                <td>{{comision.p_guia}}</td>
                <td>{{comision.v_feu}}</td>
                <td>{{comision.otros}}</td>
                <td>Denuncias</td>
                <td>{{comision.dias_utiles}}</td>
                <td>
                  <i class="icon">
                    <a href="{% url 'm_comision' %}">
                        <span  class="fas fa-pencil-alt"></span>
                      </a>
                  </i>
                  <i class="icon">
                      <a href="{% url 'e_comision'%}">
                          <span  class="fas fa-trash-alt"></span>
                      </a>
                  </i>
              </td>
              </tr>
              {% endfor %}
              
              <tr>
                <th><a href="{% url 'f_comision'%}"><span class="fas fa-plus-square"></span></a></th>
                <td>-</td>  
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div> 

{% endblock content %}

