<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static%}
    <link rel="stylesheet" href="{% static 'css/bulma.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.css'%}">
    
    <script defer src="{% static 'js/fa_all.js'%}"></script>
    <script defer src="{% static 'js/alpine.js'%}"></script>
    <title>GDU - Comisiones</title>
</head>

<body>
    <!-- Se debe cambiar is-fullheight en mobile para obtener la tabla responsive -->
    <div class="controller" x-data="{ on_mobile: false , toggled_burger : false}">
      <section x-on:resize.window="on_mobile = (window.innerWidth < 1024) ? true : false" x-bind:class="on_mobile ? 'hero is-primary' : 'hero is-primary is-fullheight'" class="">  
        <div class="hero-head">
            <nav class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item">
                    <figure class="image">
                      <a>
                        <img src="{% static 'rsc/logo-uci.png' %}" alt="Logo">
                      </a>
                    </figure>
                  </a>
                  <span class="navbar-burger burger" id="burger" @click="toggled_burger = !toggled_burger"  data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>
                <div id="navbarMenuHeroA" x-bind:class="toggled_burger ? 'navbar-menu is-active' : 'navbar-menu' ">
                  <div class="navbar-end">
                    <span class="navbar-item is-active">
                      <a href="{% url 'denuncias'%}" class="button is-primary is-inverted" href="#">
                        <span class="icon">
                          <i class="fas fa-scroll"></i>
                        </span>
                        <span>Denuncias</span>
                      </a>
                    </span>
                    <span class="navbar-item">
                      <a href="{% url 'comisiones'%}" class="button is-primary is-inverted" href="#">
                        <span class="icon">
                          <i class="fas fa-users"></i>
                        </span>
                        <span>Comisiones</span>
                      </a>
                    </span>
                    <span class="navbar-item">
                      <a href="{% url 'usuarios'%}" class="button is-primary is-inverted" href="#">
                        <span class="icon">
                          <i class="fas fa-user-friends"></i>
                        </span>
                        <span>Usuarios</span>
                      </a>
                    </span>
                    <span class="navbar-item">
                      <a href="{% url 'autorization'%}" class="button is-primary is-inverted">
                        <span class="icon">
                          <i class="fa fa-arrow-circle-left"></i>
                        </span>
                        <span>Salir</span>
                      </a>
                    </span>
                  </div>
                </div>
              </div>
            </nav>
          </div>
        
          <!-- Hero content: will be in the middle -->
          <div class="hero-body">
            <div class="container">
              <div class="container is-centered">
  

                <!-- Buscador -->
                <div class="columns">
                  <div class="column is-offset-8">
                    <div class="field has-addons">
                      <div class="control has-icons-left">
                        <input class="input" type="text" placeholder="Comision">
                        <span class="icon is-small is-left">
                          <i class="fas fa-users"></i>
                        </span>
                      </div>
                      <div class="control">
                        <a class="button is-info">
                          Buscar Comision.
                        </a>
                      </div>
                    </div>
                  </div>
                </div>

                <!-- Tabla -->
                <div class="box">

                  <div class="columns is-centered">
                    <div class="column is-narrow">
                      <h1 class="title is-5 hero-text">Listado de comisiones</h1>
                    </div>
                  </div>

                  <div class="table-container">
                    <table class="table is-hoverable is-fullwidth">
                      <thead>
                        <tr>
                          <th><abbr title="Posicion">#</abbr></th>
                          <th><abbr title="Presidente">Presidente</abbr></th>
                          <th><abbr title="Secretario">Secretario</abbr></th>
                          <th><abbr title="Profesor Guia">Profesor Guia</abbr></th>
                          <th><abbr title="Vocal Feu">Vocal Feu</abbr></th>
                          <th><abbr title="Otros">Otros</abbr></th>
                          <th><abbr title="Denuncias">Denuncias</abbr></th>
                          <th><abbr title="Conteo de vida util de la denuncia">Conteo</abbr></th>
                        </tr>
                      </thead>
                  
                      <tbody>
                        <tr>
                          <th>1</th>
                          <td><a href="#">Daniel Tamayo Arias</a></td>
                          <td>darias</td>
                          <td>deTa25</td>
                          <td>darias</td>
                          <td>Adiestrado</td>
                          <td>Jefe de Dpto.</td>
                          <td>15</td>
                          <td>
                            <i class="icon">
                              <a href="{% url 'm_comision'%}">
                                  <span  class="fas fa-pencil-alt"></span>
                                </a>
                            </i>
                            <i class="icon">
                                <a href="{% url 'e_comision'%}">
                                    <span  class="fas fa-trash-alt"></span>
                                </a>
                            </i>
                        </td>
                        </tr>
                        <tr>
                          <th>2</th>
                          <td><a href="#">Liuba Rosa Medin</a></td>
                          <td>lrmedin</td>
                          <td>LRosa92</td>
                          <td>lrmedin</td>
                          <td>Titular</td>
                          <td>Profesor</td>
                          <td>12</td>
                          <td>
                            <i class="icon">
                                <a href="{% url 'm_comision'%}">
                                    <span  class="fas fa-pencil-alt"></span>
                                  </a>
                              </i>
                              <i class="icon">
                                  <a href="{% url 'e_comision'%}">
                                      <span  class="fas fa-trash-alt"></span>
                                  </a>
                            </i>
                        </td>
                        </tr>
                        <tr>
                          <th>3</th>
                          <td><a href="#">Meidis Sanchez Deiran</a></td>
                          <td>msanchezd</td>
                          <td>activ**</td>
                          <td>msanchezd</td>
                          <td>Titular</td>
                          <td>Jefe de Asig.</td>
                          <td>3</td>
                          <td>
                            <i class="icon">
                                <a href="{% url 'm_comision'%}">
                                    <span  class="fas fa-pencil-alt"></span>
                                  </a>
                              </i>
                              <i class="icon">
                                  <a href="{% url 'e_comision'%}">
                                      <span  class="fas fa-trash-alt"></span>
                                  </a>
                            </i>
                        </td>
                        </tr>
                        <tr class="is-selected">
                          <th>4</th>
                          <td><a href="#">Alexis Carras Fuentes</a></td>
                          <td>acarras</td>
                          <td>carra21*</td>
                          <td>acarras</td>
                          <td>Titular</td>
                          <td>Profesor</td>
                          <td>24</td>
                          <td>
                            <i class="icon">
                                <a href="{% url 'm_comision'%}">
                                    <span  class="fas fa-pencil-alt"></span>
                                  </a>
                              </i>
                              <i class="icon">
                                  <a href="{% url 'e_comision'%}">
                                      <span  class="fas fa-trash-alt"></span>
                                  </a>
                            </i>
                          </td>
                        </tr>
                        <tr>
                          <th>5</th>
                          <td><a href="#">Joel Izaguirre Moreno</a></td>
                          <td>jimoreno</td>
                          <td>star_wars*+1</td>
                          <td>jimoreno</td>
                          <td>Instructor</td>
                          <td>Jefe de Dpto.</td>
                          <td>1</td>
                          <td>
                            <i class="icon">
                                <a href="{% url 'm_comision'%}">
                                    <span  class="fas fa-pencil-alt"></span>
                                  </a>
                              </i>
                              <i class="icon">
                                  <a href="{% url 'e_comision'%}">
                                      <span  class="fas fa-trash-alt"></span>
                                  </a>
                            </i>
                        </td>
                        </tr>
                        <tr>
                          <th><a href="{% url 'f_comision'%}"><span class="fas fa-plus-square"></span></a></th>
                          <td>-</td>  
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                          <td>-</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div> 
  
  
              </div>
            </div>
          </div>
        
          <!-- Hero footer: will stick at the bottom -->
          <div class="hero-foot">
            <nav class="tabs">
              <div class="container">
                <ul>
                    <div class="navbar-item">
                      <a href="modificar_expediente.html" class="button is-primary is-inverted">
                        <span class="green-text">Crear expediente disciplinario</span>
                      </a>
                    </div>
                  </li>
                </ul>
              </div>
            </nav>
          </div>
        </section>
    </div>
    
</body>
</html>