
{% extends 'base.html' %}

{% block title %}
    <title>GDU - Crear comisión</title>
{% endblock title %}

{% block content %}

<form class="box" id="form" method="POST">

                        
    <div class="container has-text-centered">
    <h2 class="subtitle is-5 hero-text">Nueva comisión</h2>
    </div>

    {% csrf_token %}

    {% for field in form %}
        {% if 'Usuario' in field.label  %}

            <div>
                <label class="label">{{field.label}}</label>
                <div class="select">
                    {{field}}
                </div>
            </div>

        {% elif 'Denuncias' in field.label %}

        <div class="scrollable">
            <label class="label">{{field.label}}</label>
            <div class="select is-multiple mb-2" id="M2M">
                {{field}}
            </div>
        </div>

        {% else %}
            <div class="field">
                <label class="label">{{field.label}}</label>
                <div class="control has-icons-left has-icons-right">
                    {{field}}
                    <span class="icon is-small is-left">
                       <i class="fas fa-user"></i>
                    </span>
                </div> 
                
            </div>
        {% endif %}
        {% for error in field.errors %}
            {{error}}
        {% endfor %}
    {% endfor %}
    
    
    <div class="field is-grouped">
    <div class="control">
        <button class="button is-link" method="POST" type="submit">Enviar</button>
    </div>
    <div class="control">
        <button class="button is-link is-light">Cancelar</button>
    </div>
    </div>
</form> 

{% endblock content %}

{% block page_scripts %}

<script>

    tag = document.getElementById('M2M')
  
    tag.style = 'height:100px; overflow:auto; width:250px'

    console.log(tag.style)

</script>

{% endblock page_scripts %}

