{% extends 'base.html' %}

{% block title %}
    <title>GDU - Crear usuario</title>
{% endblock title %}

{% block content %}

{% if user.perfil.es_admin %}


    {% if messages %}
        {% for message in messages  %}
            <div class="notification {{message.tags}}">
                {{message}}
            </div>
        {% endfor %}
    {% endif %}

    <!-- Tabla -->
    <form class="box" id="form" method="post">

                    
        <div class="container has-text-centered">
        <h2 class="subtitle is-5 hero-text">Nuevo usuario</h2>
        </div>

        {% csrf_token %}
        
        {% for field in user_form %}
                {% if field.label == 'Cat docente' or field.label == 'Rol' or field.label == 'Cargo' %}
                    <div class="mb-2">
                        <label class="label">{{field.label}}</label>
                        <div class="select">
                            {{field}}
                        </div>
                    </div>
                {% else %}
                    <div class="field">
                        <label class="label">{{field.label}}</label>
                        <div class="control has-icons-left has-icons-right">
                        {{field}}
                        <span class="icon is-small is-left">
                            {% if field.label == 'Usuario' %} <i class="fas fa-user"></i>
                            {% elif field.label == 'Nombre' or field.label == 'Apellidos' %} <i class="fas fa-smile"></i>
                            {% elif field.label == 'Contraseña' or field.label == "Confirmar contraseña" %} <i class="fas fa-key"></i>
                            {% elif field.label == 'Cargo' %} <i class="fas fa-user-cog"></i> 
                            {% elif field.label == 'Rol' %} <i class="fas fa-user-tag"></i>
                            {% else %} <i class="fas fa-envelope"></i>
                            {% endif %}
                        </span>
                        </div> 
                        
                    </div>
                {% endif %}
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
        {% endfor %}

            
        {% for field in profile_form %}
                {% if field.label == 'Cat docente' or field.label == 'Rol' or field.label == 'Cargo' %}
                    <div class="mb-2">
                    <label class="label">{{field.label}}</label>
                    <div class="select">
                        {{field}}
                    </div>
                    </div>
                {% else %}
                    <div class="field">
                        <label class="label">{{field.label}}</label>
                        <div class="control has-icons-left has-icons-right">
                        {{field}}
                        <span class="icon is-small is-left">
                            {% if field.label == 'Usuario' %} <i class="fas fa-user"></i>
                            {% elif field.label == 'Nombre' or field.label == 'Apellidos' %} <i class="fas fa-smile"></i>
                            {% elif field.label == 'Contraseña' or field.label == "Confirmar contraseña" %} <i class="fas fa-key"></i>
                            {% elif field.label == 'Cargo' %} <i class="fas fa-user-cog"></i> 
                            {% elif field.label == 'Rol' %} <i class="fas fa-user-tag"></i>
                            {% else %} <i class="fas fa-envelope"></i>
                            {% endif %}
                        </span>
                        </div> 
                        
                    </div>
                {% endif %}
                {% for error in field.errors %}
                    {{error}}
                {% endfor %}
        {% endfor %}
        
        <div class="field is-grouped">
        <div class="control">
            <button onclick="validate(event)" action="POST" type="submit" class="button is-link">Enviar</button>
        </div>
        <div class="control">
            <button class="button is-link is-light" href={% url 'usuarios' %}>Cancelar</button>
        </div>
        </div>
    </form> 

{% else %}

    <div class="box">
        <div class="container has-text-centered">
            <h1 class="title is-3 hero-text">Oops.....</h1>
            <h2 class="subtitle is-5 hero-text">Lo sentimos, solo los admins pueden estar aqui.</h2>
        </div>
    </div> 

{% endif %}

{% endblock content %}

