<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bulma.css'%}">
    <link rel="stylesheet" href="{% static 'css/all.css'%}">
    
    <script defer src="{% static 'js/fa_all.js'%}"></script>
    <script defer src="{% static 'js/alpine.js'%}"></script>
    <script defer src="{% static 'js/iodine.min.js'%}"></script>
    <script defer src="{% static 'js/validations.js'%}"></script>
    
    <title>GDU - Modificar usuario</title>
</head>

<body>
    <!-- Se debe cambiar is-fullheight en mobile para obtener la tabla responsive -->
    <div class="controller" x-data="{ on_mobile: false , toggled_burger : false}">
      <section x-on:resize.window="on_mobile = (window.innerWidth < 1024) ? true : false" x-bind:class="on_mobile ? 'hero is-primary' : 'hero is-primary is-fullheight'" class="">  
        <div class="hero-head">
            <nav class="navbar">
              <div class="container">
                <div class="navbar-brand">
                  <a class="navbar-item">
                    <figure class="image">
                      <a>
                        <img src="{% static 'rsc/logo-uci.png' %}" alt="Logo">
                      </a>
                    </figure>
                  </a>
                  <span class="navbar-burger burger" id="burger" @click="toggled_burger = !toggled_burger"  data-target="navbarMenuHeroA">
                    <span></span>
                    <span></span>
                    <span></span>
                  </span>
                </div>
                <div id="navbarMenuHeroA" x-bind:class="toggled_burger ? 'navbar-menu is-active' : 'navbar-menu' ">
                    <div class="navbar-end">
                      <span class="navbar-item is-active">
                        <a href="{% url 'denuncias'%}" class="button is-primary is-inverted" href="#">
                          <span class="icon">
                            <i class="fas fa-scroll"></i>
                          </span>
                          <span>Denuncias</span>
                        </a>
                      </span>
                      <span class="navbar-item">
                        <a href="{% url 'comisiones'%}" class="button is-primary is-inverted" href="#">
                          <span class="icon">
                            <i class="fas fa-users"></i>
                          </span>
                          <span>Comisiones</span>
                        </a>
                      </span>
                      <span class="navbar-item">
                        <a href="{% url 'usuarios'%}" class="button is-primary is-inverted" href="#">
                          <span class="icon">
                            <i class="fas fa-user-friends"></i>
                          </span>
                          <span>Usuarios</span>
                        </a>
                      </span>
                      <span class="navbar-item">
                        <a href="{% url 'logout'%}" class="button is-primary is-inverted">
                          <span class="icon">
                            <i class="fa fa-arrow-circle-left"></i>
                          </span>
                          <span>Salir</span>
                        </a>
                      </span>
                    </div>
                </div>
              </div>
            </nav>
          </div>
        
          <!-- Hero content: will be in the middle -->
          <div class="hero-body">
            <div class="container">
              <div class="container is-centered">
  
                <!-- Tabla -->
                <form class="box" id="form" method="post">

                    
                      <div class="container has-text-centered">
                        <h2 class="subtitle is-5 hero-text">Usuario - usuario</h2>
                      </div>
                      {% csrf_token %}
                      {% comment %} {{form.as_p}} {% endcomment %}
                      
                      {% for field in form %}
                        {% if field.label == 'Cat docente' or field.label == 'Rol' or field.label == 'Cargo' %}
                          <div class="mb-2">
                            <label class="label">{{field.label}}</label>
                            <div class="select">
                               {{field}}
                            </div>
                          </div>
                        {% else %}
                        <div class="field">
                          <label class="label">{{field.label}}</label>
                          <div class="control has-icons-left has-icons-right">
                            {{field}}
                            <span class="icon is-small is-left">
                              {% if field.label == 'Usuario' %} <i class="fas fa-user"></i>
                              {% elif field.label == 'Nombre' or field.label == 'Apellidos' %} <i class="fas fa-smile"></i>
                              {% elif field.label == 'Contraseña' or field.label == "Confirmar contraseña" %} <i class="fas fa-key"></i>
                              {% elif field.label == 'Cargo' %} <i class="fas fa-user-cog"></i> 
                              {% elif field.label == 'Rol' %} <i class="fas fa-user-tag"></i>
                              {% else %} <i class="fas fa-envelope"></i>
                              {% endif %}
                            </span>
                          </div> 
                          
                        </div>
                        {% endif %}
                      {% endfor %}

                      {% comment %} Link para postear usuarios {% endcomment %}
                      <div class="field is-grouped">
                        <div class="control">
                          <button onclick="validate(event)" action="POST" type="submit" class="button is-link">Enviar</button>
                        </div>
                        <div class="control">
                          <button class="button is-link is-light">Cancelar</button>
                        </div>
                      </div>
                </form> 
  
  
              </div>
            </div>
          </div>
        
          <!-- Hero footer: will stick at the bottom -->
          <div class="hero-foot">
            <nav class="tabs">
              <div class="container"></div>
            </nav>
          </div>
        </section>
    </div>
    
</body>
</html>