{% extends 'base.html' %}

{% block title %}
    <title>GDU - Denuncias</title>
{% endblock title %}


{% block content %}
  <!-- Tabla -->
  <div class="box">

    <div class="columns is-centered">
      <div class="column is-narrow">
        <h1 class="title is-5 hero-text">Listado de denuncias</h1>
      </div>
    </div>

    <div class="table-container">
      <table class="table is-hoverable is-fullwidth">
        <thead>
          <tr>
            <th><abbr title="Posicion"></abbr></th>
            {% comment %} <th><abbr title="Descripcion">Desc.</abbr></th> {% endcomment %}
            <th><abbr title="Nombre del denunciante">Nombre</abbr></th>
            <th><abbr title="Apellidos del denunciante">Apellidos</abbr></th>
            <th><abbr title="Usuario del denunciante">Usuario denunciante</abbr></th>
            <th><abbr title="Usuario del denunciado">Usuario denunciado</abbr></th>
            <th><abbr title="Area de la denuncia">Area</abbr></th>
            <th><abbr title="Fecha de la denuncia">Fecha</abbr></th>
            <th><abbr title="Hora de la denuncia">Hora</abbr></th>
            <th><abbr title="Estado de la denuncia">Estado</abbr></th>
            <th><abbr title="Define si se ha asignado la denuncia a alguna comision">Asignada</abbr></th>
            <th><abbr title="Descripción detallada de la denuncia">Detalles</abbr></th>
            {% comment %} <th><abbr title="Listado de ids de las comisiones asignadas">Comisiones</abbr></th> {% endcomment %}
          </tr>
        </thead>
    
        <tbody>
          {% if hay_denuncias %}
              <div class="columns is-centered">
                <column class="is-narrow">
                  <p class="hero-text mt-5">Por el momento no hay denuncias para mostrar.</p>
                </column>
              </div>
            {% endif %}
          {% for denuncia in denuncias %}
            <tr>
              <th><a href="#">{{forloop.counter}}</a></th>
              {% comment %} <td>{{denuncia.texto}}</td> {% endcomment %}
              <td>{{denuncia.nombre}}</td>
              <td>{{denuncia.apellidos}}</td>
              <td>{{denuncia.usuario.username}}</td>
              <td>{{denuncia.usuario_d}}</td>
              <td>{{denuncia.area}}</td>
              <td>{{denuncia.fecha}}</td>
              <td>{{denuncia.hora}}</td>
              <td>{{denuncia.estado}}</td>
              <td>{{denuncia.asignada}}</td>
              <td><a href={% url 'i_denuncia' denuncia.id %} class="is-linkable">Inspeccionar</a></td>
              <td>
                <i class="icon">
                  <a href="{% url 'm_denuncia' denuncia.id %}">
                      <span  class="fas fa-pencil-alt"></span>
                    </a>
                </i>
            </td>
            </tr>
            {% endfor %}
          <tr>
            <th><a href="{% url 'f_denuncia' %}"><span class="fas fa-plus-square"></span></a></th>
            <td>-</td>  
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
            <td>-</td>
          </tr>
        </tbody>
      </table>
    </div>

    {% comment %} Paginator {% endcomment %}
    <nav class="pagination is-centered" role="navigation" aria-label="pagination">
      <ul class="pagination-list">
        {% if denuncias.has_previous %}

            <li><a href="?page=1" class="pagination-link" aria-label="Goto page 1">Primera</a></li>

            <li><a href="?page={{denuncias.previous_page_number}}" class="pagination-link" aria-label="Goto page {{denuncias.previous_page_number}}">Anterior</a></li>

        {% endif %}

        {% if denuncias.has_next %}
        
          <li><a href="?page={{denuncias.next_page_number}}" class="pagination-link" aria-label="Goto page 1">Siguiente</a></li>

          <li><a href="?page={{denuncias.paginator.num_pages}}" class="pagination-link" aria-label="Goto page {{denuncias.paginator.num_pages}}">Última</a></li>
        
        {% endif %}
      </ul>
    </nav>
  
  </div> 

  </div> 


{% endblock  %}