{% extends 'base.html' %}

{% block title %}
    <title>GDU - Eliminar comision</title>
{% endblock title %}

{% block content %}

    <!-- Tabla -->
    <div class="box">

        <fieldset disabled="disabled">
            <div class="container has-text-centered">
              <h2 class="subtitle is-5 hero-text">Comision - ID</h2>
            </div>

            <div class="field">
              <label class="label">Presidente</label>
              <div class="control has-icons-left">
                <input class="input" type="text" placeholder="Usuario del presidente de la comision">
                <span class="icon is-small is-left">
                  <i class="fas fa-smile"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label">Secretario</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Usuario del secretario de la comision">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label">Profesor gu&iacute;a</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Profesor gu&iacute;a al frente de la denuncia">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
              <label class="label">Vocal FEU</label>
              <div class="control has-icons-left has-icons-right">
                <input class="input" type="text" placeholder="Hora en la que ocurre el incidente">
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
            </div>
            
            <div class="field">
                <label class="label">Denuncia Asociada</label>
                <div class="control has-icons-left has-icons-right">
                  <input class="input" type="text" placeholder="Denuncia ID">
                  <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                  </span>
                </div>
            </div>
            
            </div>
            

            <div class="field is-grouped">
                <div class="control">
                  <button class="button is-danger">Eliminar</button>
                </div>
                <div class="control">
                  <button class="button is-link is-light">Cancelar</button>
                </div>
            </div>
        </fieldset>
    </div> 

{% endblock content %}
