{% extends 'base.html' %}

{% block title %}
    <title>GDU - Modificar comision</title>
{% endblock title %}

{% block content %}

    {% load widget_tweaks %}
    <form action="" method="POST">
        {% csrf_token %}

        <div class="box" id="form">

        <div class="container has-text-centered">
            <h2 class="subtitle is-5 hero-text">Comision - ID</h2>
        </div>

        
        {% for hidden in form.hidden_fields %}
            {{ hidden }}
        {% endfor %}

        {% for field in form %}
            <div class="field">
                <label class="label">{{field.label_tag}} </label>
                <div class="control has-icons-left">
                {% render_field field class="input"  %}
                <span class="icon is-small is-left">
                    <i class="fas fa-smile"></i>
                </span>
                
                </div>
            </div>    
    
                {% for error in field.errors %}
                    <span class="help-block">{{ error }}</span>
                {% endfor %}
                {% endfor %}
        </div>
        
        <button class="btn btn-success" type="submit" value="Submit">Add</button>
    </form>

{% endblock content %}

{% block hero_foot %}

    <div class="container">
        <ul>
            <div class="navbar-item">
            {% comment %} Agregar aqui el pk de la comision {% endcomment %}
            <a href="modificar_expediente.html" class="button is-primary is-inverted">
                <span class="green-text">Crear expediente disciplinario</span>
            </a>
            </div>
        </li>
        </ul>
    </div>

{% endblock hero_foot %}