{% extends 'base.html' %}

{% block title %}
    <title>GDU - Modificar expediente</title>
{% endblock title %}

{% block content %}

    <div class="box">
                    
        <div class="container has-text-centered">
        <h2 class="subtitle is-5 hero-text">Expediente - ID_Denuncia</h2>
        </div>

        <div class="field">
        <label class="label">Nombre</label>
        <div class="control has-icons-left">
            <input class="input" type="text" placeholder="Nombre completo del usuario denunciado">
            <span class="icon is-small is-left">
            <i class="fas fa-smile"></i>
            </span>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Usuario</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Usuario del denunciado">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
            </span>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Año</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Año acad&eacute;mico del usuario denunciado">
            <span class="icon is-small is-left">
            <i class="fas fa-key"></i>
            </span>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Grupo</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Grupo del usuario denunciado">
            <span class="icon is-small is-left">
            <i class="fas fa-universal-access"></i>
            </span>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Fecha</label>
        <div class="control has-icons-left has-icons-right">
            <input class="input" type="text" placeholder="Fecha en que se redacta el acta">
            <span class="icon is-small is-left">
            <i class="fas fa-calendar"></i>
            </span>
        </div>
        </div>
        
        {% comment %} Link para postear expedientes {% endcomment %}
        <div class="field is-grouped">
        <div class="control">
            <button class="button is-link">Enviar</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancelar</button>
        </div>
        </div>
    </div> 

{% endblock content %}