{% extends 'base.html' %}

{% block title %}
    <title>GDU - modificar denuncia</title>
{% endblock title %}

{% block content %}

    <div class="box" id="form">

                        
        <div class="container has-text-centered">
        <h2 class="subtitle is-5 hero-text">Denuncia - ID</h2>
        </div>

        <div class="field">
        <label class="label">Nombre</label>
        <div class="control has-icons-left">
            <input id="name" data-rules='["required"]' class="input" type="text" placeholder="Nombre completo del denunciante">
            <span class="icon is-small is-left">
            <i class="fas fa-smile"></i>
            </span>
            <p id="name_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>
        
        <div class="field">
        <label class="label">&Aacuterea</label>
        <div class="control has-icons-left has-icons-right">
            <input id="area" data-rules='["required"]' class="input" type="text" placeholder="Lugar donde ocurre el incidente">
            <span class="icon is-small is-left">
            <i class="fas fa-home"></i>
            </span>
            <p id="area_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Fecha</label>
        <div class="control has-icons-left has-icons-right">
            <input id="date" data-rules='["required"]' class="input" type="text" placeholder="Fecha en la que ocurre el incidente">
            <span class="icon is-small is-left">
            <i class="fas fa-calendar-alt"></i>
            </span>
            <p id="date_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Hora</label>
        <div class="control has-icons-left has-icons-right">
            <input id="time" data-rules='["required"]' class="input" type="text" placeholder="Hora en la que ocurre el incidente">
            <span class="icon is-small is-left">
            <i class="fas fa-clock"></i>
            </span>
            <p id="time_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>
        
        <div class="field">
        <label class="label">Usuario</label>
        <div class="control has-icons-left has-icons-right">
            <input id="user" data-rules='["required"]' class="input" type="text" placeholder="Usuario del denunciante">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
            </span>
            <p id="user_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>

        <div class="field">
        <label class="label">Usuario del denunciado</label>
        <div class="control has-icons-left has-icons-right">
            <input id="d_user" data-rules='["required"]' class="input" type="text" placeholder="Usuario del denunciado">
            <span class="icon is-small is-left">
            <i class="fas fa-user"></i>
            </span>
            <p id="d_user_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>

        <div class="field">
        <label class="label">Descripci&oacute;n de la denuncia</label>
        <div class="control">
            <textarea id="desc" data-rules='["required"]' class="textarea" placeholder="Inserte texto"></textarea>
            <p id="desc_error" class="error_hidden help is-danger">Debe rellenar este campo.</p>
        </div>
        </div>
        
        
        <div class="field is-grouped">
        <div class="control">
            <button onclick="validate(event)" class="button is-link">Enviar</button>
        </div>
        <div class="control">
            <button class="button is-link is-light">Cancelar</button>
        </div>
        </div>
    </div> 

{% endblock content %}