{% extends 'base.html' %}

{% block title %}
    <title>GDU - Usuarios</title>
{% endblock title %}

{% block content %}

  {% if user.perfil.es_admin %}

    <!-- Buscador -->
    <form class="columns" method="POST">

        {% csrf_token %}

        <div class="column is-offset-8">
          <div class="field has-addons">
            <div class="control has-icons-left">
              <input class="input" name="criteria" type="text" placeholder="Usuario">
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
            <div class="control">
              <button class="button is-info" type="submit" action="POST">
                Buscar Usuario.
              </button>
            </div>
          </div>
        </div>
      </form>

      <!-- Tabla -->
      <div class="box">

        {% if messages %}
            {% for message in messages  %}
                <div class="notification {{message.tags}}">
                    {{message}}
                </div>
            {% endfor %}
        {% endif %}

        <div class="columns is-centered">
          <div class="column is-narrow">
            <h1 class="title is-5 hero-text">Listado de usuarios</h1>
          </div>
        </div>

        <div class="table-container">
          <table class="table is-hoverable is-fullwidth">
            <thead>
              <tr>
                <th><abbr title="Posicion">#</abbr></th>
                <th><abbr title="Nombre">Nombre</abbr></th>
                <th><abbr title="Nombre">Apellidos</abbr></th>
                <th><abbr title="Usuario">Usuario</abbr></th>
                <th><abbr title="Contraseña">Contraseña</abbr></th>
                <th><abbr title="Correo">Correo</abbr></th>
                <th><abbr title="Categoria Docente">Cat. Doc.</abbr></th>
                <th><abbr title="Cargo">Cargo</abbr></th>
                <th><abbr title="Rol">Rol</abbr></th>
                <th></th>
              </tr>
            </thead>
        
            <tbody>
              {% if hay_usuarios %}
                <div class="columns is-centered">
                  <column class="is-narrow">
                    <p class="hero-text mt-5">Por el momento no hay usuarios para mostrar.</p>
                  </column>
                </div>
              {% endif %}
            {% for perfil in perfiles %}
              <tr>
                <th><a href="#">{{forloop.counter}}</a></th>
                {% comment %} <td>{{denuncia.texto}}</td> {% endcomment %}
                <td>{{perfil.nombre}}</td>
                <td>{{perfil.apellidos}}</td>
                <td>{{perfil.user.username}}</td>
                <td>{{perfil.un_pass}}</td>
                <td>{{perfil.correo}}</td>
                <td>{{perfil.cat_d}}</td>
                <td>{{perfil.cargo}}</td>
                <td>{{perfil.rol}}</td>
                <td>
                  <i class="icon">
                    <a href="{% url 'm_usuario' perfil.user.id %}">
                        <span  class="fas fa-pencil-alt"></span>
                      </a>
                  </i>
                  <i class="icon">
                      <a href="{% url 'e_usuario' perfil.user.id%}">
                          <span  class="fas fa-trash-alt"></span>
                      </a>
                  </i>
              </td>
              </tr>
              {% endfor %}
              <tr>
                <th><a href="{% url 'f_usuario' %}"><span class="fas fa-plus-square"></span></a></th>
                <td>-</td>  
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
              </tr>
            </tbody>
          </table>
        </div>

        {% comment %} Paginator {% endcomment %}
        <nav class="pagination is-centered" role="navigation" aria-label="pagination">
          <ul class="pagination-list">
            {% if perfiles.has_previous %}

                <li><a href="?page=1" class="pagination-link" aria-label="Goto page 1">Primera</a></li>

                <li><a href="?page={{perfiles.previous_page_number}}"" class="pagination-link" aria-label="Goto page {{perfiles.previous_page_number}}">Anterior</a></li>

            {% endif %}

            {% if perfiles.has_next %}
            
              <li><a href="?page={{perfiles.next_page_number}}" class="pagination-link" aria-label="Goto page 1">Siguiente</a></li>

              <li><a href="?page={{perfiles.paginator.num_pages}}"" class="pagination-link" aria-label="Goto page {{perfiles.paginator.num_pages}}">Última</a></li>
            
            {% endif %}
          </ul>
        </nav>
        
      </div> 

  {% else %}
    <div class="box">
      <div class="container has-text-centered">
        <h1 class="title is-3 hero-text">Oops.....</h1>
        <h2 class="subtitle is-5 hero-text">Lo sentimos, solo los admins pueden estar aqui.</h2>
      </div>
    </div> 
  {% endif %}

{% endblock content %}